[submodule "statManagerClass/googletest"]
	path = statManagerClass/googletest
	url = https://github.com/google/googletest.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
